$primary: #4fb5ff;
$primary-dark: #47a2e5;
$white: #fff;
$black: #000;
$global-font-color: #6f7f92;
$global-bg-color: #f8f9fa;
$global-border-color: #f1f1f1;
$color-theme-danger: #f14646;
$color-theme-danger-dark: #f23737;

$main-font: "Plus Jakarta Sans", sans-serif;
