@import '../abstracts/variables';

.friend-suggestions {
  margin: 32px 0;
  background-color: $white;
  padding: 32px;
  border-radius: 5px;

  
  @media screen and (max-width: 390px) {
    padding: 16px;
   }

  h5 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $global-border-color;
  }

  ul {
    padding: 0;
  }
}
