@import "../abstracts/variables";

.friend-suggestion {
  @include flex(none, none);
  margin: 20px 0;

  .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;

    @media screen and (max-width: 390px) {
      width: 40px;
      height: 40px;
    }

    img {
      width: 100%;
    }
  }

  .user-details {
    @include flex(center, none);
    flex-direction: column;
    a {
      text-decoration: none;
      color: $black;

      @media screen and (max-width: 390px) {
        font-size: 11px;
      }
    }

    span {
      font-size: 14px;
      color: $global-font-color;
    }
  }
}
