@import '../abstracts/variables';

.auth-poster {
    height: 100%;
    background-color: $primary;

    @media screen and (max-width: 992px) {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}