@import '../abstracts/variables';

.friend-request {
  width: 100%;
  @include flex(space-between, center);
  margin: 20px 0;
  &__info {
    @include flex(none, center);
  }

  &__user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;

    @media screen and (max-width: 390px) {
      width: 40px;
      height: 40px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover
      }
    }
  }

  &__action {
    @include flex(center, center);

    button {
      padding: 5px 10px;
      margin-right: 5px;

      &.accept-friend {
        background-color: #eaeff8;
        border-color: #eaeff8;
        color: $primary;
        transition: .3s ease-in;

        &:hover {
          color: $white;
          background-color: $primary;
          border-color: $primary;
        }
      }

      &.reject-friend {
        background: rgba(241, 70, 70, 0.0862745);
        border-color: rgba(241, 70, 70, 0.0862745);
        color: #f14646;
        transition: .3s ease-in;
        
        &:hover {
          color: $white;
          background-color: #f14646;
          border-color: #f14646;
          transition: .3s ease-out;
        }
      }
    }
  }

  .user-details {
    @include flex(center, none);
    flex-direction: column;
    a {
      text-decoration: none;
      color: $black;

      
    @media screen and (max-width: 390px) {
     font-size: 11px;
    }
    }

    span {
      font-size: 14px;
      color: $global-font-color;
    }
  }
}
