@import "../abstracts/mixins";
@import "../abstracts/variables";

.user-friend {
  width: 100%;
  padding: 24px;
  margin-bottom: 32px;
  background-color: $global-bg-color;
  border-radius: 5px;
  @include flex(space-between, center);

  @media screen and (max-width: 500px) {
    flex-direction: column;
    padding: 24px 8px;
  }

  &__info {
    @include flex(none, center);

    @media screen and (max-width: 500px) {
      border-bottom: 1px solid $global-border-color;
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
  }

  &__avatar {
    position: relative;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 15px;

    @media screen and (max-width: 850px) {
      width: 3.5rem;
      height: 3.5rem;
    }

    img {
      width: 100%;
      object-fit: cover;
    border-radius: 50%;

    }

    span {
      display: block;
      position: absolute;
      right: 3px;
      top: 5px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: #32CD30;
      z-index: 10;
      margin: 0;
    }
  }

  &__fullname {
    a {
      text-decoration: none;
      color: $black;

      @media screen and (max-width: 850px) {
        font-size: 15px;
      }
    }

    span {
      font-size: 14px;
      color: $global-font-color;

      @media screen and (max-width: 850px) {
        font-size: 12px;
      }
    }
  }

  &__request {
    button {
      margin-right: 15px;
      padding: 2px 14px;
      font-size: 14px;
      color: $white;

      &:hover {
        color: $white;
      }
    }

    a {
      i {
        font-size: 18px;
      }
    }
  }
}
