* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.auth-poster {
  background-color: #4fb5ff;
}

@media screen and (max-width: 992px) {
  .auth-poster {
    display: none;
  }
}

.auth-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-users {
  margin: 32px 0;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.active-users h5 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.active-users ul {
  padding: 0;
}

.active-user {
  display: flex;
  justify-content: none;
  align-items: none;
  margin: 20px 0;
}

.active-user .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}

.active-user .user-avatar img {
  width: 100%;
}

.active-user .user-details {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
}

.active-user .user-details a {
  text-decoration: none;
  color: #000;
}

.active-user .user-details span {
  font-size: 14px;
  color: #6f7f92;
}

.friend-requests {
  margin: 32px 0;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.friend-requests h5 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.friend-requests ul {
  padding: 0;
}

.friend-request {
  display: flex;
  justify-content: none;
  align-items: none;
  margin: 20px 0;
}

.friend-request__user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}

.friend-request__user-avatar img {
  width: 100%;
}

.friend-request .user-details {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
}

.friend-request .user-details a {
  text-decoration: none;
  color: #000;
}

.friend-request .user-details span {
  font-size: 14px;
  color: #6f7f92;
}

.advertising-banner {
  margin: 32px 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
}

.advertising-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-friend {
  width: 100%;
  padding: 24px;
  margin-bottom: 32px;
  background-color: #f8f9fa;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-friend__info {
  display: flex;
  justify-content: none;
  align-items: center;
}

.user-friend__avatar {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.user-friend__avatar img {
  width: 100%;
  object-fit: cover;
}

.user-friend__fullname a {
  text-decoration: none;
  color: #000;
}

.user-friend__fullname span {
  font-size: 14px;
  color: #6f7f92;
}

.user-friend__request button {
  margin-right: 15px;
  padding: 2px 14px;
  font-size: 14px;
  color: #fff;
}

.user-friend__request button:hover {
  color: #fff;
}

.user-friend__request a i {
  font-size: 18px;
}

.events-container__event {
  padding: 0 12px;
  margin: 12px 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.events-container__event .event-image {
  width: 200px;
  height: 180px;
  overflow: hidden;
  padding: 24px 12px;
  display: flex;
  justify-content: none;
  align-items: center;
}

.events-container__event .event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events-container__event .event-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 12px;
}

.events-container__event .event-request {
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-container__event .event-request .join-event-button {
  background-color: #4fb5ff;
  color: #fff;
  border-color: #4fb5ff;
  padding: 8px 32px;
}

.events-container__event .event-request .join-event-button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  padding: 24px 24px 10px 24px;
  margin: 32px 0;
}

.post .post-owner {
  display: flex;
  justify-content: none;
  align-items: none;
}

.post .post-owner .owner-image {
  width: 60px;
  height: 60px;
  margin: 0 12px;
  border-radius: 50%;
  overflow: hidden;
}

.post .post-owner .owner-image img {
  width: 100%;
}

.post .owner-info {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  padding: 0 12px;
}

.post .owner-info a {
  text-decoration: none;
  color: #000;
}

.post .owner-info a p {
  margin-bottom: 0;
}

.post .owner-info span {
  font-size: 12px;
}

.post .post-content {
  width: 100%;
  margin: 18px 0;
}

.post .post-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post .post-content .post-statistics {
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}

.post .post-content .post-statistics span {
  margin: 0 5px;
  font-size: 14px;
  color: #6f7f92;
}

.post .post-content .post-activity a {
  text-decoration: none;
  color: #6f7f92;
  padding: 5px;
}

.post .post-content .post-activity a i {
  margin: 0 5px;
}

.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.sidebar__toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  right: -18px;
  transform: rotate(45deg);
  background-color: #fff;
  width: 36px;
  height: 36px;
  z-index: 5;
  border-radius: 5px;
}

.sidebar__toggle i {
  transform: rotate(-45deg);
}

.sidebar .sidebar-section {
  padding: 0 2rem;
}

.sidebar .sidebar-section.toggle {
  padding: 0 0.5rem;
}

.sidebar .sidebar-section__logo {
  padding: 20px 7px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__logo a {
  display: flex;
  justify-content: none;
  align-items: none;
  text-decoration: none;
  color: #000;
}

.sidebar .sidebar-section__logo h2 {
  margin: 0;
}

.sidebar .sidebar-section__logo img {
  width: 40px;
  margin-right: 10px;
}

.sidebar .sidebar-section__logo.sidebar-notactive {
  padding: 15px 10px;
}

.sidebar .sidebar-section__profile {
  padding: 16px 0 24px 0;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: none;
  margin-bottom: 24px;
}

.sidebar .sidebar-section__profile .profile-avatar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar .sidebar-section__profile .profile-avatar img {
  width: 100%;
}

.sidebar .sidebar-section__profile .profile-userinfo {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  margin-left: 16px;
}

.sidebar .sidebar-section__profile .profile-userinfo a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.sidebar .sidebar-section__profile .profile-userinfo p {
  margin: 0;
  font-size: 12px;
  color: #6f7f92;
}

.sidebar .sidebar-section__main {
  transform: translate3d(0px, 0px, 0px);
}

.sidebar .sidebar-section__main .menu-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #6f7f92;
  font-weight: 600;
}

.sidebar .sidebar-section__main ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-section__main ul li {
  margin-top: 8px;
}

.sidebar .sidebar-section__main ul li a {
  display: block;
  text-decoration: none;
  padding: 9px 14px;
  color: #6f7f92;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.5s ease-in;
  border-radius: 5px;
}

.sidebar .sidebar-section__main ul li a:hover {
  color: #4fb5ff;
  background-color: #eaeff8;
  transition: 0.2s ease-out;
}

.sidebar .sidebar-section__main ul li a i {
  margin: 0 10px;
  font-size: 18px;
}

.sidebar .sidebar-section__menu {
  margin-bottom: 24px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__footer {
  display: flex;
  justify-content: none;
  align-items: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
}

.sidebar .sidebar-section__settings {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.sidebar .sidebar-section__settings .list {
  margin: 0;
  padding: 16px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebar-section__settings .list.sidebar-notactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar .sidebar-section__settings .list.sidebar-notactive li {
  margin: 0;
}

.sidebar .sidebar-section__settings .list li {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebar-section__settings .list li a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #6f7f92;
  transition: 0.5s ease-in;
}

.sidebar .sidebar-section__settings .list li a:hover {
  color: #4fb5ff;
  background-color: #edf7ff;
  transition: 0.2s ease-out;
}

.sidebar .sidebar-section__settings .list li a i {
  font-size: 18px;
}

.nav-bar {
  margin-left: 270px;
  padding: 21px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.nav-bar.sidebar-notactive {
  margin-left: 70px;
}

.nav-bar__container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.nav-bar__container input {
  width: 40rem;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.nav-bar__container input:focus {
  box-shadow: none;
}

.nav-bar__container input:focus {
  border-color: #4fb5ff;
}

.nav-bar__container input::placeholder {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .nav-bar__container input {
    width: 25rem;
  }
}

@media screen and (max-width: 960px) {
  .nav-bar__container input {
    width: 15rem;
  }
}

.nav-bar__navigation {
  display: flex;
  justify-content: none;
  align-items: center;
}

.nav-bar__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: none;
  align-items: none;
}

.nav-bar__navigation ul li {
  padding: 0 6px;
  position: relative;
}

.nav-bar__navigation ul li .nav-button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #6f7f92;
}

.nav-bar__navigation ul li .nav-button.switch-mode:hover {
  color: #4fb5ff;
  background-color: #edf7ff;
  transition: 0.2s ease-out;
}

.nav-bar__navigation ul li .friend-dropdown {
  position: absolute;
  top: 75px;
  left: -375px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-bar__navigation ul li .friend-dropdown h5 {
  padding: 16px 0;
  margin: 0 32px;
  border-bottom: 1px solid #f1f1f1;
}

.nav-bar__navigation ul li .friend-dropdown p {
  padding: 16px 32px 32px 32px;
  color: #6f7f92;
}

.nav-bar__navigation ul li .message-dropdown {
  position: absolute;
  top: 75px;
  left: -325px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-bar__navigation ul li .message-dropdown h5 {
  padding: 16px 0;
  margin: 0 32px;
  border-bottom: 1px solid #f1f1f1;
}

.nav-bar__navigation ul li .message-dropdown p {
  padding: 16px 32px 32px 32px;
  color: #6f7f92;
}

.nav-bar__navigation ul li .notification-dropdown {
  position: absolute;
  top: 75px;
  left: -275px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-bar__navigation ul li .notification-dropdown h5 {
  padding: 16px 0;
  margin: 0 32px;
  border-bottom: 1px solid #f1f1f1;
}

.nav-bar__navigation ul li .notification-dropdown p {
  padding: 16px 32px 32px 32px;
  color: #6f7f92;
}

.nav-bar__navigation ul li .profile-dropdown {
  position: absolute;
  top: 75px;
  left: -160px;
  padding: 32px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-bar__navigation ul li .profile-dropdown__body ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li {
  width: 100%;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li a {
  display: block;
  text-decoration: none;
  color: #6f7f92;
  padding-bottom: 12px;
  transition: .3s ease-in;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li a i {
  margin-right: 5px;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li a:hover {
  transition: .3s ease-out;
  padding-left: 8px;
  color: #4fb5ff;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li a.nav-logout {
  display: block;
  width: 100%;
  background-color: #4fb5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 5px;
  color: #fff;
}

.nav-bar__navigation ul li .profile-dropdown__body ul li a.nav-logout:hover {
  background-color: #47a2e5;
}

.nav-bar__user-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .login-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .login-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .login-section p {
    display: none;
  }
}

.login-section label {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .login-section label {
    font-size: 14px;
  }
}

.login-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .login-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container {
    padding: 2rem 1rem;
  }
}

.login-section .auth-container p {
  text-align: center;
}

.login-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .login-section .auth-container__title {
    margin: 0 1rem;
  }
}

.login-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.login-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .login-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.login-section .auth-container label {
  padding: 0 0 2px 0;
}

.login-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.login-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.login-section .auth-container .register-link {
  text-align: center;
}

.login-section .auth-container .register-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link {
    font-size: 12px;
  }
}

.register-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .register-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .register-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .register-section p {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .register-section label {
    font-size: 14px;
  }
}

.register-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .register-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container {
    padding: 2rem 1rem;
  }
}

.register-section .auth-container p {
  text-align: center;
}

.register-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .register-section .auth-container__title {
    margin: 0 1rem;
  }
}

.register-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.register-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .register-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.register-section .auth-container label {
  padding: 0 0 2px 0;
}

.register-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.register-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.register-section .auth-container .login-link {
  text-align: center;
}

.register-section .auth-container .login-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link {
    font-size: 12px;
  }
}

.newsfeed {
  width: 100%;
  background-color: #f8f9fa;
  padding-left: 300px;
  padding-top: 90px;
}

.newsfeed.sidebar-notactive {
  padding-left: 45px;
}

.profile-section {
  width: 100%;
  background-color: #f8f9fa;
  padding-left: 265px;
  padding-top: 90px;
}

.profile-section.sidebar-notactive {
  padding-left: 50px;
}

.profile-section__background {
  width: 100%;
  height: 500px;
}

.profile-section__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-section .user {
  display: flex;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 32px;
  position: relative;
  margin-top: -50px;
}

.profile-section .user__statistics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-section .user__statistics ul {
  display: flex;
  justify-content: none;
  align-items: none;
  list-style: none;
  margin: 0;
}

.profile-section .user__statistics ul li {
  padding: 10px 20px;
}

.profile-section .user__statistics ul li:first-child {
  border-right: 1px solid #f1f1f1;
}

.profile-section .user__statistics ul li span {
  margin: 4px;
}

.profile-section .user__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile-section .user__details span {
  color: #6f7f92;
  font-size: 14px;
}

.profile-section .user__request {
  display: flex;
  justify-content: none;
  align-items: center;
}

.profile-section .user__request button {
  margin: 0 10px;
}

.profile-section .user__request button:hover {
  border-color: #fff;
}

.profile-section .user__request button.message {
  background-color: #4fb5ff;
  color: #fff;
}

.profile-section .user__request button.message:hover {
  background-color: #47a2e5;
}

.profile-section .user__request button i {
  margin: 0 5px;
}

.profile-section .user .user-avatar {
  position: absolute;
  top: -150px;
  left: 10px;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border: 4px solid #fff;
  border-radius: 5px;
}

.profile-section .user .user-avatar img {
  width: 100%;
  border-radius: 5px;
}

.friends {
  width: 100%;
  background-color: #f8f9fa;
  padding-left: 300px;
  padding-top: 90px;
}

.friends.sidebar-notactive {
  padding-left: 45px;
}

.friends__search-section {
  width: 100%;
  background-color: #fff;
  padding: 32px;
  margin: 32px 0;
  border-radius: 5px;
}

.friends__search {
  width: 100%;
  position: relative;
}

.friends__search input {
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.friends__search input:focus {
  border-color: #4fb5ff;
}

.friends__search input:focus-visible {
  box-shadow: none;
}

.friends__search input::placeholder {
  font-size: 14px;
}

.friends__search button {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.friends__search button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

.friends__container {
  width: 100%;
  background-color: #fff;
  padding: 0 32px 32px 32px;
  border-radius: 5px;
}

.friends__filter {
  display: flex;
  justify-content: space-between;
  align-items: none;
  padding: 32px 0;
}

.friends__filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: none;
  align-items: none;
}

.friends__filter ul li {
  margin-right: 5px;
}

.friends__filter form label {
  margin-right: 7px;
}

.friends__filter form select {
  padding: 5px 10px;
}

.setting-section {
  width: 100%;
  background-color: #f8f9fa;
  padding-left: 300px;
  padding-right: 20px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.setting-section.sidebar-notactive {
  padding-left: 40px;
}

.setting-section__user {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 32px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-section__user .user-info {
  display: flex;
  justify-content: none;
  align-items: center;
}

.setting-section__user .user-info .user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}

.setting-section__user .user-info .user-avatar img {
  width: 100%;
}

.setting-section__user .user-info .user-fullname span {
  font-size: 14px;
  color: #6f7f92;
}

.setting-section__user .user-logout ul {
  display: flex;
  justify-content: none;
  align-items: center;
  list-style: none;
}

.setting-section__user .user-logout ul li {
  margin: 0 10px;
}

.setting-section__user .user-logout ul li a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #f8f9fa;
  border-radius: 10px;
  color: #6f7f92;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.setting-section__personal-info {
  width: 100%;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.setting-section__personal-info h4 {
  padding-bottom: 20px;
  margin-bottom: 32px;
  border-bottom: 1px solid #f1f1f1;
}

.events {
  width: 100%;
  background-color: #f8f9fa;
  padding: 90px 0 40px 300px;
}

.events.sidebar-notactive {
  padding-left: 45px;
}

.events-container {
  margin-top: 32px;
  padding: 0 32px 32px 32px;
  background-color: #fff;
  border-radius: 5px;
}

.events-container__filter {
  display: flex;
  justify-content: space-between;
  align-items: none;
  color: #6f7f92;
  border-bottom: 1px solid #f1f1f1;
  padding: 24px 0;
  margin-bottom: 32px;
}

.events-container__filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: none;
  align-items: none;
}

.events-container__filter ul li {
  margin-right: 10px;
}

.groups {
  width: 100%;
  background-color: #f8f9fa;
  padding: 90px 0 40px 300px;
}

.groups.sidebar-notactive {
  padding-left: 45px;
}

.groups-container {
  background-color: #fff;
  padding: 0 32px 32px 32px;
  border-radius: 5px;
}

.groups-container__filter {
  display: flex;
  justify-content: space-between;
  align-items: none;
  color: #6f7f92;
  border-bottom: 1px solid #f1f1f1;
  padding: 24px 0;
  margin-bottom: 32px;
}

.groups-container__filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: none;
  align-items: none;
}

.groups-container__filter ul li {
  margin-right: 10px;
}

.groups-container .card {
  margin: 12px;
  padding: 0;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.groups-container .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.groups-container .card-body h5 {
  text-align: center;
}

.groups-container .card-body a {
  margin: 12px 0;
  width: 100%;
  background-color: #eaeff8;
  border-color: #eaeff8;
  color: #4fb5ff;
  font-weight: 600;
  font-size: 18px;
  transition: .3s ease-in;
}

.groups-container .card-body a:hover {
  background-color: #4fb5ff;
  color: #fff;
  transition: .5s ease-out;
}

.forums {
  width: 100%;
  background-color: #f8f9fa;
  padding: 90px 0 40px 300px;
}

.forums.sidebar-notactive {
  padding-left: 45px;
}
/*# sourceMappingURL=main.css.map */