* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.auth-poster {
  background-color: #4fb5ff;
}

@media screen and (max-width: 992px) {
  .auth-poster {
    display: none;
  }
}

.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}

.sidebar__toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  right: -18px;
  transform: rotate(45deg);
  background-color: #fff;
  width: 36px;
  height: 36px;
  z-index: 5;
}

.sidebar__toggle i {
  transform: rotate(-45deg);
}

.sidebar .sidebar-section {
  padding: 0 2rem;
}

.sidebar .sidebar-section.toggle {
  padding: 0 0.5rem;
}

.sidebar .sidebar-section__logo {
  padding: 20px 7px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__logo a {
  display: flex;
  justify-content: none;
  align-items: none;
  text-decoration: none;
  color: #000;
}

.sidebar .sidebar-section__logo h2 {
  margin: 0;
}

.sidebar .sidebar-section__logo img {
  width: 40px;
  margin-right: 10px;
}

.sidebar .sidebar-section__logo.sidebar-notactive {
  padding: 15px 10px;
}

.sidebar .sidebar-section__profile {
  padding: 16px 0 24px 0;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: none;
  align-items: none;
  margin-bottom: 24px;
}

.sidebar .sidebar-section__profile .profile-avatar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar .sidebar-section__profile .profile-avatar img {
  width: 100%;
}

.sidebar .sidebar-section__profile .profile-userinfo {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  margin-left: 16px;
}

.sidebar .sidebar-section__profile .profile-userinfo a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.sidebar .sidebar-section__profile .profile-userinfo p {
  margin: 0;
  font-size: 12px;
  color: #6f7f92;
}

.sidebar .sidebar-section__main {
  transform: translate3d(0px, 0px, 0px);
}

.sidebar .sidebar-section__main .menu-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #6f7f92;
  font-weight: 600;
}

.sidebar .sidebar-section__main ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-section__main ul li {
  margin-top: 8px;
}

.sidebar .sidebar-section__main ul li a {
  display: block;
  text-decoration: none;
  padding: 9px 14px;
  color: #6f7f92;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.5s ease-in;
  border-radius: 5px;
}

.sidebar .sidebar-section__main ul li a:hover {
  color: #4fb5ff;
  background-color: #eaeff8;
  transition: 0.2s ease-out;
}

.sidebar .sidebar-section__main ul li a i {
  margin: 0 10px;
  font-size: 18px;
}

.sidebar .sidebar-section__menu {
  margin-bottom: 24px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__footer {
  display: flex;
  justify-content: none;
  align-items: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px 16px;
}

.sidebar .sidebar-section__settings {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.sidebar .sidebar-section__settings .list {
  margin: 0;
  padding: 16px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebar-section__settings .list.sidebar-notactive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar .sidebar-section__settings .list li {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .sidebar-section__settings .list li a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #6f7f92;
  transition: 0.5s ease-in;
}

.sidebar .sidebar-section__settings .list li a:hover {
  color: #4fb5ff;
  background-color: #edf7ff;
  transition: 0.2s ease-out;
}

.sidebar .sidebar-section__settings .list li a i {
  font-size: 18px;
}

.nav-bar {
  margin-left: 270px;
  padding: 21px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.nav-bar.sidebar-notactive {
  margin-left: 70px;
}

.nav-bar__container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.nav-bar__container input {
  width: 40rem;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.nav-bar__container input:focus {
  box-shadow: none;
}

.nav-bar__container input:focus {
  border-color: #4fb5ff;
}

.nav-bar__container input::placeholder {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .nav-bar__container input {
    width: 25rem;
  }
}

@media screen and (max-width: 960px) {
  .nav-bar__container input {
    width: 15rem;
  }
}

.nav-bar__navigation {
  display: flex;
  justify-content: none;
  align-items: center;
}

.nav-bar__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: none;
  align-items: none;
}

.nav-bar__navigation ul li {
  padding: 0 6px;
}

.nav-bar__navigation ul li button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #6f7f92;
}

.nav-bar__navigation ul li button.switch-mode:hover {
  color: #4fb5ff;
  background-color: #edf7ff;
  transition: 0.2s ease-out;
}

.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .login-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .login-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .login-section p {
    display: none;
  }
}

.login-section label {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .login-section label {
    font-size: 14px;
  }
}

.login-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .login-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container {
    padding: 2rem 1rem;
  }
}

.login-section .auth-container p {
  text-align: center;
}

.login-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .login-section .auth-container__title {
    margin: 0 1rem;
  }
}

.login-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.login-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .login-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.login-section .auth-container label {
  padding: 0 0 2px 0;
}

.login-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.login-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.login-section .auth-container .register-link {
  text-align: center;
}

.login-section .auth-container .register-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link {
    font-size: 12px;
  }
}

.register-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .register-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .register-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .register-section p {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .register-section label {
    font-size: 14px;
  }
}

.register-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .register-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container {
    padding: 2rem 1rem;
  }
}

.register-section .auth-container p {
  text-align: center;
}

.register-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .register-section .auth-container__title {
    margin: 0 1rem;
  }
}

.register-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.register-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .register-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.register-section .auth-container label {
  padding: 0 0 2px 0;
}

.register-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.register-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.register-section .auth-container .login-link {
  text-align: center;
}

.register-section .auth-container .login-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link {
    font-size: 12px;
  }
}

.newsfeed {
  width: 100%;
  height: 300vh;
  background-color: #f8f9fa;
  padding-left: 300px;
  padding-top: 90px;
}

.newsfeed.sidebar-notactive {
  padding-left: 45px;
}

.newsfeed-section__post {
  background-color: #fff;
  border-radius: 5px;
  padding: 24px 24px 10px 24px;
  margin: 32px 0;
}

.newsfeed-section__post .post-owner {
  display: flex;
  justify-content: none;
  align-items: none;
}

.newsfeed-section__post .post-owner .owner-image {
  width: 60px;
  height: 60px;
  margin: 0 12px;
  border-radius: 50%;
  overflow: hidden;
}

.newsfeed-section__post .post-owner .owner-image img {
  width: 100%;
}

.newsfeed-section__post .owner-info {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  padding: 0 12px;
}

.newsfeed-section__post .owner-info a {
  text-decoration: none;
  color: #000;
}

.newsfeed-section__post .owner-info a p {
  margin-bottom: 0;
}

.newsfeed-section__post .owner-info span {
  font-size: 12px;
}

.newsfeed-section__post .post-content {
  width: 100%;
  margin: 18px 0;
}

.newsfeed-section__post .post-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.newsfeed-section__post .post-content .post-statistics {
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}

.newsfeed-section__post .post-content .post-statistics span {
  margin: 0 5px;
  font-size: 14px;
  color: #6f7f92;
}

.newsfeed-section__post .post-content .post-activity a {
  text-decoration: none;
  color: #6f7f92;
  padding: 5px;
}

.newsfeed-section__post .post-content .post-activity a i {
  margin: 0 5px;
}

.newsfeed-section__active-users {
  margin: 32px 0;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.newsfeed-section__active-users h5 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.newsfeed-section__active-users ul {
  padding: 0;
}

.newsfeed-section__active-users ul li {
  display: flex;
  justify-content: none;
  align-items: none;
  margin: 20px 0;
}

.newsfeed-section__active-users ul li .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}

.newsfeed-section__active-users ul li .user-avatar img {
  width: 100%;
}

.newsfeed-section__active-users ul li .user-details {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
}

.newsfeed-section__active-users ul li .user-details a {
  text-decoration: none;
  color: #000;
}

.newsfeed-section__active-users ul li .user-details span {
  font-size: 14px;
  color: #6f7f92;
}

.newsfeed-section__friend-request {
  margin: 32px 0;
  background-color: #fff;
  padding: 32px;
  border-radius: 5px;
}

.newsfeed-section__friend-request h5 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.newsfeed-section__friend-request ul {
  padding: 0;
}

.newsfeed-section__friend-request ul li {
  display: flex;
  justify-content: none;
  align-items: none;
  margin: 20px 0;
}

.newsfeed-section__friend-request ul li .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}

.newsfeed-section__friend-request ul li .user-avatar img {
  width: 100%;
}

.newsfeed-section__friend-request ul li .user-details {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
}

.newsfeed-section__friend-request ul li .user-details a {
  text-decoration: none;
  color: #000;
}

.newsfeed-section__friend-request ul li .user-details span {
  font-size: 14px;
  color: #6f7f92;
}

.newsfeed-section__banner {
  margin: 32px 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  height: 300px;
}

.newsfeed-section__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*# sourceMappingURL=main.css.map */