* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.auth-poster {
  background-color: #4fb5ff;
}

@media screen and (max-width: 992px) {
  .auth-poster {
    display: none;
  }
}

.sidebar {
  width: 270px;
  height: 100vh;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: pink;
}

.sidebar .sidebar-section__logo {
  padding: 16px 32px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__profile {
  padding: 16px 0 24px 0;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: none;
  align-items: none;
  margin-bottom: 24px;
}

.sidebar .sidebar-section__profile .profile-avatar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar .sidebar-section__profile .profile-avatar img {
  width: 100%;
}

.sidebar .sidebar-section__profile .profile-userinfo {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: column;
  margin-left: 16px;
}

.sidebar .sidebar-section__profile .profile-userinfo a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.sidebar .sidebar-section__profile .profile-userinfo p {
  margin: 0;
  font-size: 12px;
  color: #6f7f92;
}

.sidebar .sidebar-section__main {
  transform: translate3d(0px, 0px, 0px);
}

.sidebar .sidebar-section__main .menu-label {
  text-transform: uppercase;
  font-size: 12px;
  color: #6f7f92;
  font-weight: 600;
}

.sidebar .sidebar-section__main ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-section__main ul li {
  margin-top: 8px;
}

.sidebar .sidebar-section__main ul li a {
  display: block;
  text-decoration: none;
  padding: 9px 14px;
  color: #6f7f92;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.5s ease-in;
  border-radius: 5px;
}

.sidebar .sidebar-section__main ul li a:hover {
  color: #2f65b9;
  background-color: #eaeff8;
  transition: 0.2s ease-out;
}

.sidebar .sidebar-section__menu {
  margin-bottom: 24px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar .sidebar-section__footer {
  display: flex;
  justify-content: none;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 270px;
  height: 100px;
  background-color: red;
  padding: 0 16px;
}

.sidebar .sidebar-section__settings {
  width: 100%;
  background-color: #fff;
}

.sidebar .sidebar-section__settings ul {
  margin: 0;
  padding: 16px 0px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: none;
}

.nav-bar {
  margin-left: 270px;
}

.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .login-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .login-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .login-section p {
    display: none;
  }
}

.login-section label {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .login-section label {
    font-size: 14px;
  }
}

.login-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .login-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container {
    padding: 2rem 1rem;
  }
}

.login-section .auth-container p {
  text-align: center;
}

.login-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .login-section .auth-container__title {
    margin: 0 1rem;
  }
}

.login-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.login-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .login-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.login-section .auth-container label {
  padding: 0 0 2px 0;
}

.login-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.login-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.login-section .auth-container .register-link {
  text-align: center;
}

.login-section .auth-container .register-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .login-section .auth-container .register-link {
    font-size: 12px;
  }
}

.register-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 992px) {
  .register-section {
    overflow: scroll;
    background-color: #4fb5ff;
  }
}

@media screen and (max-width: 992px) {
  .register-section p {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .register-section p {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .register-section label {
    font-size: 14px;
  }
}

.register-section__auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-section .auth-container {
  padding: 2rem 3rem;
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .register-section .auth-container {
    padding: 2rem 4rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container {
    padding: 2rem 1rem;
  }
}

.register-section .auth-container p {
  text-align: center;
}

.register-section .auth-container__title {
  margin: 2rem 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 448px) {
  .register-section .auth-container__title {
    margin: 0 1rem;
  }
}

.register-section .auth-container .form-group input {
  padding: 0.7rem 2rem;
  margin-bottom: 14px;
  background-color: #f8f9fa;
  border-color: #ddd;
  border-radius: 0;
}

.register-section .auth-container .form-group input:focus {
  box-shadow: none;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input {
    padding: 0.3rem 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  .register-section .auth-container .form-group input label {
    font-size: 14px;
    padding: 0.4rem 1.4rem;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .form-group input::placeholder {
    font-size: 12px;
  }
}

.register-section .auth-container label {
  padding: 0 0 2px 0;
}

.register-section .auth-container button {
  width: 100%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  text-transform: uppercase;
  background-color: #4fb5ff;
  border-color: #4fb5ff;
}

.register-section .auth-container button:hover {
  background-color: #47a2e5;
  border-color: #47a2e5;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container button {
    font-size: 12px;
    padding: 0.3rem 0;
  }
}

.register-section .auth-container .login-link {
  text-align: center;
}

.register-section .auth-container .login-link a {
  text-decoration: none;
  color: #4fb5ff;
  font-size: 18px;
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link a {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .register-section .auth-container .login-link {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */