@import "../abstracts/mixins";
@import "../abstracts/variables";

.nav-bar {
  margin-left: 270px;
  padding: 21px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;

  &.sidebar-notactive {
    margin-left: 70px;
  }

  &__container {
    padding: 0 24px;
    @include flex(space-between, none);

    input {
      width: 40rem;
      background-color: #f8f9fa;
      border-color: #f8f9fa;

      &:focus {
        box-shadow: none;
      }

      &:focus {
        border-color: $primary;
      }

      &::placeholder {
        font-size: 14px;
      }

      @media screen and (max-width: 1200px) {
        width: 25rem;
      }

      @media screen and (max-width: 960px) {
        width: 15rem;
      }
    }
  }

  &__navigation {
    @include flex(none, center);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flex(none, none);

      li {
        padding: 0 6px;

        button {
          width: 45px;
          height: 45px;
          border: none;
          border-radius: 50%;
          background-color: transparent;
          color: #6f7f92;

          &.switch-mode {
            &:hover {
              color: #4fb5ff;
              background-color: #edf7ff;
              transition: 0.2s ease-out;
            }
          }
        }
      }
    }
  }
}
