@import "../abstracts/mixins";
@import "../abstracts/variables";

.events {
  width: 100%;
  background-color: $global-bg-color;
  padding: 90px 0 40px 300px;

  &.sidebar-notactive {
    padding-left: 45px;
  }

  &-container {
    margin-top: 32px;
    padding: 0 32px 32px 32px;
    background-color: $white;
    border-radius: 5px;

    &__filter {
      @include flex(space-between, none);
      color: $global-font-color;
      border-bottom: 1px solid $global-border-color;
      padding: 24px 0;
      margin-bottom: 32px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(none, none);

        li {
          margin-right: 10px;
        }
      }

      .filter-right {
        a {
          text-decoration: none;
          background-color: #eaeff8;
          padding: 5px 10px;
          border-radius: 5px;
          color: $primary;
          transition: 0.4s ease-in;

          &:hover {
            color: $white;
            background-color: $primary;
            transition: 0.5s ease-out;
          }
        }
      }
    }
  }
}
