@import "../abstracts/variables";
@import "../abstracts/mixins";

.forum-detail {
  width: 100%;
  padding: 90px 10px 40px 300px;

  @media screen and (max-width: 720px) {
    padding-left: 80px;
  }

  &.sidebar-notactive {
    padding-left: 70px;
  }

  &-container {
    margin-top: 32px;
    padding: 0 32px 32px 32px;
    background-color: $white;
    border-radius: 5px;

    @media screen and (max-width: 1140px) {
      padding: 0 12px 32px 12px;
    }

    &__title {
      width: 100%;
      border-bottom: 1px solid $global-border-color;
      padding-top: 15px;

      h4 {
        color: $black;
      }
    }

    &__content {
      width: 100%;
      border-bottom: 1px solid $global-border-color;
      padding: 15px 0;
      margin: 15px 0;
      p {
        color: $global-font-color;
      }
    }

    &__input {
      position: relative;

      textarea {
        width: 100%;
      }

      button {
        background-color: $primary;
        color: $white;
        transition: 0.3s ease-in;

        &:hover {
          background-color: $primary-dark;
          border-color: $primary-dark;
          color: $white;
          transition: 0.3s ease-out;
        }
      }
    }
  }
}
