@import "../abstracts/variables";
@import "../abstracts/mixins";

.forums {
  width: 100%;
  padding: 90px 10px 40px 300px;

  
  @media screen and (max-width: 720px) {
    padding-left: 90px;
  }


  &.sidebar-notactive {
    padding-left: 90px;
  }

  &-container {
    margin-top: 32px;
    padding: 0 32px 32px 32px;
    background-color: $white;
    border-radius: 5px;

    
  @media screen and (max-width: 500px) {
    padding: 12px 12px 32px 12px;
  }

    &__title {
      @include flex(space-between,none);
      width: 100%;
      border-bottom: 1px solid $global-border-color;
      padding: 15px 0;

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      h4 {
        color: $black;
        @media screen and (max-width: 500px) {
          border-bottom: 1px solid $global-border-color;
          padding-bottom: 12px;
          margin-bottom: 12px;
        }
      }

      a {
        text-decoration: none;
        background-color: #eaeff8;
        padding: 5px 10px;
        border-radius: 5px;
        color: $primary;
        transition: 0.3s ease-in;

        &:hover {
          color: $white;
          background-color: $primary;
          transition: 0.3s ease-out;
        }
      }
    }

    &__forums {
      margin-top: 15px;
    }
  }
}
