@import "../abstracts/variables";
@import "../abstracts/mixins";

.forums {
  width: 100%;
  padding: 90px 45px 40px 300px;

  &.sidebar-notactive {
    padding-left: 120px;
  }

  &-container {
    margin-top: 32px;
    padding: 0 32px 32px 32px;
    background-color: $white;
    border-radius: 5px;

    &__title {
      @include flex(space-between,none);
      width: 100%;
      border-bottom: 1px solid $global-border-color;
      padding: 15px 0;

      h4 {
        color: $black;
      }

      a {
        text-decoration: none;
        background-color: #eaeff8;
        padding: 5px 10px;
        border-radius: 5px;
        color: $primary;
        transition: 0.3s ease-in;

        &:hover {
          color: $white;
          background-color: $primary;
          transition: 0.3s ease-out;
        }
      }
    }

    &__forums {
      margin-top: 15px;
    }
  }
}
