@import "../abstracts/variables";
@import "../abstracts/mixins";

.friends {
  width: 100%;
  padding-left: 300px;
  padding-top: 90px;

  @media screen and (max-width: 720px) {
    padding-left: 70px;
  }

  &.sidebar-notactive {
    padding-left: 70px;
  }

  &__search-section {
    width: 100%;
    background-color: $white;
    padding: 32px;
    margin: 32px 0;
    border-radius: 5px;
  }

  &__search {
    width: 100%;
    position: relative;

    input {
      padding: 6px 12px;
      width: 100%;
      border: 1px solid $global-border-color;
      border-radius: 5px;

      &:focus {
        border-color: $primary;
      }

      &:focus-visible {
        box-shadow: none;
      }

      &::placeholder {
        font-size: 14px;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $primary;
      border-color: $primary;

      &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }

  &__container {
    width: 100%;
    background-color: $white;
    padding: 32px 32px 1px 32px;
    border-radius: 5px;

    @media screen and (max-width: 850px) {
      padding: 0 16px 32px 16px;
    }
  }

  &__filter {
    @include flex(space-between, none);
    padding: 16px 0;
    border-bottom: 1px solid $global-border-color;
    margin-bottom: 32px;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex(none, none);

      @media screen and (max-width: 850px) {
        border-bottom: 1px solid $global-border-color;
        padding-bottom: 16px;
      }

      li {
        margin-right: 5px;
        @include flex(none, center);

        @media screen and (max-width: 850px) {
          font-size: 14px;
        }
      }
    }

    form {
      @media screen and (max-width: 850px) {
        margin-top: 15px;
      }

      label {
        margin-right: 7px;

        @media screen and (max-width: 850px) {
          font-size: 14px;
        }
      }

      select {
        padding: 5px 10px;

        @media screen and (max-width: 850px) {
          padding: 0;
        }
      }
    }
  }
}
