@import "../abstracts/mixins";
@import "../abstracts/variables";

.group-setting {
  width: 100%;
  padding: 90px 0 40px 300px;

  @media screen and (max-width: 720px) {
    padding-left: 70px;
  }

  &.sidebar-notactive {
    padding-left: 70px;
  }

  &-container {
    margin-top: 32px;
    padding: 0 32px 32px 32px;
    background-color: $white;
    border-radius: 5px;

    &__title {
      color: $black;
      border-bottom: 1px solid $global-border-color;
      padding-top: 24px;
      padding-bottom: 12px;
      margin-bottom: 32px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @include flex(none, none);

        li {
          margin-right: 10px;
        }
      }

      .filter-right {
        a {
          text-decoration: none;
          background-color: #eaeff8;
          padding: 5px 10px;
          border-radius: 5px;
          color: $primary;
          transition: 0.4s ease-in;

          &:hover {
            color: $white;
            background-color: $primary;
            transition: 0.5s ease-out;
          }
        }
      }
    }
    &__form {
      .form-name {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $global-border-color;
      }

      .form-description {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $global-border-color;

        label {
          display: block;
        }

        textarea {
          width: 100%;

          &::placeholder {
            font-size: 14px;
          }
        }
      }

      .form-image {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $global-border-color;
      }

      label {
        margin-bottom: 6px;
        color: $global-font-color;
      }

      input {
        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          font-size: 14px;
        }
      }

      button {
        background-color: $primary;
        color: $white;

        &:hover {
          background-color: $primary-dark;
          color: $white;
          border-color: $primary-dark;
        }
      }
    }
  }

  .group-members__container {
    width: 100%;
    margin-top: 32px;
    background-color: $white;
    padding: 0 32px 1px 32px;
    border-radius: 5px;

    h4 {
        padding: 24px 0 12px 0;
        border-bottom: 1px solid $global-border-color;
        margin-bottom: 24px;
    }
  }
}
