@import "../abstracts/mixins";

.newsfeed {
  width: 100%;
  background-color: #f8f9fa;
  padding-left: 300px;
  padding-top: 90px;

  &.sidebar-notactive {
    padding-left: 45px;
  }

  &-section {
    &__post {
      background-color: #fff;
      border-radius: 5px;
      padding: 24px 24px 10px 24px;
      margin: 32px 0;

      .post-owner {
        @include flex(none, none);

        .owner-image {
          width: 60px;
          height: 60px;
          margin: 0 12px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }

      .owner-info {
        @include flex(center, none);
        flex-direction: column;
        padding: 0 12px;

        a {
          text-decoration: none;
          color: #000;

          p {
            margin-bottom: 0;
          }
        }

        span {
          font-size: 12px;
        }
      }

      .post-content {
        width: 100%;
        margin: 18px 0;

        img {
          width: 100%;
          height: 500px;

          object-fit: cover;
        }

        .post-statistics {
          margin: 10px 0;
          padding-bottom: 5px;
          border-bottom: 1px solid #f1f1f1;

          span {
            margin: 0 5px;
            font-size: 14px;
            color: #6f7f92;
          }
        }

        .post-activity {
          a {
            text-decoration: none;
            color: #6f7f92;
            padding: 5px;

            i {
              margin: 0 5px;
            }
          }
        }
      }
    }

    &__banner {
      margin: 32px 0;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
