@import "../abstracts/mixins";
@import "../abstracts/variables";

.password-section {
  width: 100%;
  background-color: $global-bg-color;
  padding-left: 300px;
  padding-right: 20px;
  padding-top: 90px;
  padding-bottom: 20px;

  &.sidebar-notactive {
    padding-left: 40px;
  }

  &__user {
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    padding: 32px;
    margin: 16px 0;
    @include flex(space-between, center);

    .user-info {
      @include flex(none, center);

      .user-avatar {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 10px;

        img {
          width: 100%;
        }
      }

      .user-fullname {
        span {
          font-size: 14px;
          color: $global-font-color;
        }
      }
    }

    .user-logout {
      ul {
        @include flex(none, center);
        list-style: none;

        li {
          margin: 0 10px;
          a {
            display: block;
            width: 60px;
            height: 60px;
            background-color: $global-bg-color;
            border-radius: 10px;
            color: $global-font-color;
            font-size: 20px;
            @include flex(center, center);
            text-decoration: none;

            &:hover {
              background-color: $primary;
              color: $white;
            }
          }
        }
      }
    }
  }

  &__user-input {
    width: 100%;
    background-color: $white;
    padding: 32px;
    border-radius: 5px;

    h4 {
      padding-bottom: 20px;
      margin-bottom: 32px;
      border-bottom: 1px solid $global-border-color;
    }

    .password-change {
      border-bottom: 1px solid $global-border-color;
      padding: 15px 0;

      label {
        font-size: 16px;
        color: $global-font-color;
        margin-bottom: 10px;
      }

      input {
        &:focus {
          box-shadow: none;
          border-color: $primary;
        }

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    button {
      margin-top: 20px;
      background-color: $primary;
      border-color: $primary;

      &:hover {
        background-color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }
}
