@import "../abstracts/mixins";
@import "../abstracts/variables";

.profile-section {
  width: 100%;
  padding-left: 265px;
  padding-top: 90px;

  @media screen and (max-width: 720px) {
    padding-left: 50px;
  }

  &.sidebar-notactive {
    padding-left: 50px;
  }

  &__background {
    position: relative;
    width: 100%;
    height: 500px;

    form {
      position: absolute;
      top: 20px;
      right: 20px;

      .backgroundphoto-label {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #eaeff8;
        border-color: #eaeff8;
        color: $primary;
        border-radius: 5px;
        transition: 0.5s ease-in;

        &:hover {
          background-color: $primary;

          transition: 0.5s ease-out;

          i {
            color: $white;
          }
        }

        i {
          margin-right: 8px;
          font-size: 18px;
          margin-right: 0;
          color: $primary;
        }

        input {
          display: none;
        }
      }
    }

    @media screen and (max-width: 720px) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user {
    @include flex(space-between, none);
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    padding: 32px;
    position: relative;
    margin-top: -50px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    &__statistics {
      @include flex(center, center);

      ul {
        @include flex(none, none);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px 20px;
          &:first-child {
            border-right: 1px solid $global-border-color;
          }

          a {
            text-decoration: none;
            color: $black;
            transition: 0.1s ease-in;

            &:hover {
              border-bottom: 2px solid $black;
              transition: 0.1s ease-out;
            }
          }

          span {
            margin: 4px;
          }
        }
      }
    }

    &__details {
      @include flex(center, center);
      flex-direction: column;
      position: relative;

      span {
        color: $global-font-color;
        font-size: 14px;
      }

      .online-user {
        margin: 0;
        margin-top: 5px;
        color: #32cd30;
        font-weight: 600;
      }

      .offline-user {
        margin: 0;
        margin-top: 5px;
        color: $global-font-color;
        font-weight: 600;
      }
    }

    &__request {
      @include flex(end, center);

      @media screen and (max-width: 992px) {
        @include flex(center, center);
      }

      @media screen and (max-width: 1032px) {
        margin-top: 15px;
      }

      form {
        @media screen and (max-width: 450px) {
          @include flex(none, center);
          flex-direction: column;
        }
      }

      button {
        color: $white;
        margin: 0 10px;

        @media screen and (max-width: 450px) {
          margin: 5px 0;
        }

        &:hover {
          border-color: $white;
        }

        &.message {
          background-color: $primary;
          color: $white;

          &:hover {
            background-color: $primary-dark;
          }
        }

        i {
          margin: 0 5px;
        }
      }

      a {
        margin: 0 10px;
        i {
          margin: 0 5px;
        }
      }
    }

    .user-avatar {
      position: absolute;
      top: -150px;
      left: 38%;
      width: 140px;
      height: 140px;
      background-color: $white;
      border: 4px solid $white;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }

      @media screen and (max-width: 1032px) {
        left: 38%;
        top: -170px;
        width: 120px;
        height: 120px;
      }

      @media screen and (max-width: 580px) {
        left: 35%;
      }

      @media screen and (max-width: 440px) {
        left: 30%;
      }

      @media screen and (max-width: 440px) {
        left: 25%;
      }
      form {
        position: absolute;
        top: -20px;
        right: -20px;

        .profilphoto-label {
          @include flex(center, center);
          width: 35px;
          height: 35px;
          cursor: pointer;
          background-color: #eaeff8;
          border-color: #eaeff8;
          color: $primary;
          border-radius: 50%;
          transition: 0.5s ease-in;

          &:hover {
            background-color: $primary;
            transition: 0.5s ease-out;

            i {
              color: $white;
            }
          }

          i {
            margin-right: 8px;
            font-size: 18px;
            margin-right: 0;
            color: $primary;
          }

          input {
            display: none;
          }
        }
      }
    }
  }
}
